*.pdb
/MsgClient/.vs/MsgClient/v15/*.suo
/MsgClient/.vs/MsgClient/v15/*.db
/MsgClient/.vs/MsgClient/v15/*.opendb
/MsgClient/.vs/MsgClient/v15/ipch/AutoPCH/2b02fc913269780/*.ipch
/MsgClient/.vs/MsgClient/v15/ipch/AutoPCH/91e4a7847bc2e610/*.ipch
/MsgClient/.vs/MsgClient/v15/ipch/AutoPCH/a350510ef39edd0e/*.ipch
/MsgClient/.vs/MsgClient/v15/ipch/AutoPCH/a83a320b39a779c3/*.ipch
/MsgClient/MsgClient/Release/*.log
/MsgClient/MsgClient/Release/MsgClient.tlog/*.tlog
/MsgClient/MsgClient/Release/MsgClient.tlog/*.lastbuildstate
/MsgClient/MsgClient/Release/*.obj
/MsgClient/MsgClient/*.log
/MsgClient/Release/*.exe
/MsgSvr/.vs/MsgSvr/v15/*.suo
/MsgSvr/.vs/MsgSvr/v15/*.db
/MsgSvr/.vs/MsgSvr/v15/*.opendb
/MsgSvr/.vs/MsgSvr/v15/ipch/AutoPCH/19ba7aaaa55d6450/*.ipch
/MsgSvr/.vs/MsgSvr/v15/ipch/AutoPCH/58d890b12d5771b0/*.ipch
/MsgSvr/.vs/MsgSvr/v15/ipch/AutoPCH/d1160d483af086ca/*.ipch
/MsgSvr/.vs/MsgSvr/v15/ipch/AutoPCH/ecdd164ef6e2e2d0/*.ipch
*.tlog
*.ipch
*.obj
*.log
*.exe
